# dependencies
node_modules/
apps/*/node_modules/

# next.js build
.next/
apps/*/.next/
out/
apps/*/out/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
apps/*/.npm-cache-local/

# env
.env
.env.local
.env.*.local

# editor / OS
.DS_Store
Thumbs.db
.idea/
.vscode/

# npm
.npm-change-local
.npm-cache-26628623-0e38-413a-8708-cec4ed1a34a8

# docs
docs/